
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["saludoCompleto", "Maria"];
}
<div class="text-center mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <h1 class="display-4">@ViewData["despedida"]</h1>
</div>

