<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoPostNetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Localization</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span class="flag-icon flag-icon-es"></span>Home</a>
                    </li>
                </ul>
                <div class="ms-auto">
                    <select class="form-control" id="langSelect">
                        <option default>Language</option>
                        <option value="ES">Español</option>
                        <option value="EN">Ingles</option>
                    </select>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ProyectoPostNetCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {

            var culture = window.location.href.split("?").length > 1 ? window.location.href.split("?")[1] : "";
            console.log(culture);
            if (culture != "") {
                var lang = culture.split("=")[1];
                console.log(lang);
                if (lang == "es-ES") {
                    console.log("es");
                    $("#langSelect").val("ES");
                } else {
                    console.log("en");
                    $("#langSelect").val("EN");
                }
            }

            $("#langSelect").change(function () {
                var redirect = $("#langSelect").val() == "ES" ? "?culture=es-ES" : "?culture=en-US";
                window.location.href = redirect;
            });
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>

